:root {
  --primary-color: #f3e51e;
}

.alternate-bar {
  background-color: var(--primary-color);
  height: 10px;
  margin: 10px 0;
}

.navigation {
  margin: 20px 0;
}

.navigation h2 {
  margin-top: 0;
}

.config-data {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.config-id {
  font-weight: bold;
  margin-right: 10px;
}

.config-value {
  font-style: italic;
}

.content-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

.content-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.content-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.content-label {
  width: 150px;
  font-weight: bold;
}

.content-value-text {
  margin-left: 10px;
}

.new-section {
  margin: 20px 0;
}

.new-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.new-section-content {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.new-section-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.new-section-label {
  width: 150px;
  font-weight: bold;
}

.new-section-value {
  margin-left: 10px;
}

.alternate-bar2 {
 background-color: blue;
  height: 5px;
  margin: 10px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


#trash-button {
  background-color: #dc3545; 
  color: rgb(0, 0, 0);
}

#copy-button {
 background-color: aquamarine;
 color: rgb(0, 0, 0);
}
