header{
background-color: rgb(199, 199, 199);

}



#alternate-line {
    border: none;
    border-top: 2px solid orange;
    height: 0;
    color: orange; 
    background-color: orange; 
    text-align: center;
    line-height: 0.1em;
    margin: 10px 0; 
    border-width: 10px;
  }
  
  #alternate-line:before {
    display: block;
    content: "";
    height: 1em;
    margin: 0 auto;
    border-top: 2px solid yellow;
  }